@model ProgCentrTestTask.Web.Models.DisplayQueryModel

<div>
    <h4>DisplayQueryModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Search)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Search)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SortBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SortBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Page)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Page)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
